@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
}

@font-face {
  src: url("font/GlacialIndifference-Regular.otf");
  font-family: "Glacial";

}

#box2 {
 margin: 0;
 padding: 0;
 position: relative;
}

#bakgrund {
 width: 100%;
 display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#logga {
  width: 250px;
  margin-top: 12.5px;
}

#box1 {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   background-blend-mode: multiply,multiply;
  height: 100px;
}

#box3 {
 height: 150px;
 width: 100%;
 background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}

#box3text {
  width: 60%;
  margin-left: 3%;
  color: white;
  font-size: 30px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.knapp  {
  width: 100px;
  height: 50px;
  background-color: #000;
  float: right;
  margin-top: 50px;
  margin-right: 5%;
  padding: 0;
  border-radius: 5px 5px;
}

.knapp p {
  line-height: 53px;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.knapp a {
  text-decoration: none;
}

.knapp:hover {
  background-color: #222;
}

.animation {
  text-align: center;
  display: block;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,50%);
  font-size: 6vw;
  width: 100%;
  animation: text 0.7s 1;
  color: white;
}

@keyframes text {
0%{
  margin-top: -40px;
}
40%{
  margin-top: 20px;
}
70%{
  margin-top: -10px;
}
100%{
  margin-top: 0px;
}
}


.fa-instagram, .fa-envelope {
  font-size: 50px;
}

#nav-icon1 {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  margin: 30px;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: rgba(240,240,240,1);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 15px;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#box456body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  height: 1000px;
  padding-top: 125px;
}

.box {
  width: 100%;
  height: 200px;
  margin-bottom: 125px;
}

.box img {
  width: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.box p {
  font-family: 'Comfortaa';
  float: right;
  color: white;
  font-size: 18px;
  float: left;
  margin-top: 75px;
  text-overflow: ellipsis;
}

#box4 img {
  float: left;
}

#box5 img {
  float: right;
}

#box6 img {
  float: left;
}

#box5 p {
  float: right;
}

#footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}

#footer p {
  line-height: 100px;
  font-family: "Comfortaa";
  font-size: 18px;
  margin-left: 5%;
}

#instagram {
  color: #833AB4;
}

#mail {
  color: #4267B2;
}

#instagram i {
  float: right;
  margin-right: 90px;
  margin-top: 25px;
}

#mail i {
  margin-top: 25px;
  float: right;
  margin-right: 15px;
}

@media (max-width: 800px){
#box3text {
  font-size: 24px;
}
#box456body p {
  text-align: center;
  margin-top: 15px;
  padding: 0;
  float: none;
}
#box456body img {
  display: block;
  margin: auto;
  float: none;
}
}

#box4 {
  display: none;
}

#box5 {
  display: none;
}

#box6 {
  display: none;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration: 2s;
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInRight;
  animation-duration: 2s;
}
