@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
}

@font-face {
  src: url("font/GlacialIndifference-Regular.otf");
  font-family: "Glacial";
}

#box2 {
  margin: 0;
  padding: 0;
  position: relative;
}

#bakgrund {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  width: 100%;
}

#logga {
  width: 250px;
  margin-top: 12.5px;
}

#box1 {
  background-color: #C0B283;
  height: 100px;
}

#box3 {
  height: 150px;
  width: 100%;
  background-color: #C0B283;
}

#box3text {
  width: 60%;
  margin-left: 3%;
  color: white;
  font-size: 30px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.knapp {
  width: 100px;
  height: 50px;
  background-color: #000;
  float: right;
  margin-top: 50px;
  margin-right: 5%;
  padding: 0;
  border-radius: 5px 5px;
}

.knapp p {
  line-height: 53px;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.knapp a {
  text-decoration: none;
}

.knapp:hover {
  background-color: #222;
}

.animation {
  text-align: center;
  display: block;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 6vw;
  width: 100%;
  color: white;
}

.startanimation {
    animation: text 0.7s 1;
}

@keyframes text {
  0% {
    margin-top: -40px;
  }

  40% {
    margin-top: 20px;
  }

  70% {
    margin-top: -10px;
  }

  100% {
    margin-top: 0px;
  }
}

.fa-instagram, .fa-envelope {
  font-size: 50px;
}

#box456body {
  background-image: url("bilder/brick.jpg");
  background-position: center;
  background-size: cover;
  height: 1000px;
  padding-top: 8%;
}

.box {
  width: 100%;
  height: 200px;
  margin-bottom: 125px;
}

.box img {
  width: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.box p {
  font-family: 'Comfortaa';
  float: right;
  color: white;
  font-size: 18px;
  float: left;
  margin-top: 75px;
  text-overflow: ellipsis;
}

#box4 img {
  float: left;
}

#box5 img {
  float: right;
}

#box6 img {
  float: left;
}

#box5 p {
  float: right;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #C0B283;
}

#footer p {
  line-height: 100px;
  font-family: "Comfortaa";
  font-size: 18px;
  margin-left: 5%;
}

#instagram {
  color: #373737;
}

#mail {
  color: #373737;
}

#instagram i {
  float: right;
  margin-right: 5%;
  margin-top: 25px;
}

#mail i {
  margin-top: 25px;
  float: right;
  margin-right: 15px;
}

@media (max-width: 800px) {
  #box3text {
    font-size: 24px;
  }

  #box456body p {
    text-align: center;
    margin-top: 15px;
    padding: 0;
    float: none;
  }

  #box456body img {
    display: block;
    margin: auto;
    float: none;
  }

  #box4 {
    display: none;
  }

  #box5 {
    display: none;
  }

  #box6 {
    display: none;
  }
}

#box4 {
  display: none;
}

#box5 {
  display: none;
}

#box6 {
  display: none;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration: 2s;
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInRight;
  animation-duration: 2s;
}

#box7 {}
